
<div class="text-center">
  <h1 class="text-2xl">Pages#home</h1>
  <% if @user %>
    <h2> Welcome <%= @user.name %> </h2>
  <% else %>
  <p>Find me in app/views/pages/home.html.erb</p>
  <% end%>
</div>