

<div class="text-center">
  <p style="color: green"><%= notice %></p>

  <h1 class="text-4xl">Posts</h1>

  <div id="posts" class="mb-4">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>

  <%= link_to "New post", new_post_path, class: 'bg-purple-400 hover:bg-purple-500 active:bg-purple-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transform transition duration-150 ease-in-out' %>
</div>
